{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "no-shadow": [
      "error",
      {
        "allow": [
          "err",
          "chargeErr",
          "user",
          "result"
        ]
      }
    ],
    "max-len": 0,
    "no-return-assign": 0,
    "valid-jsdoc": [
      "error",
      {
        "requireReturn": true,
        "requireReturnType": true,
        "requireParamDescription": true,
        "requireReturnDescription": true
      }
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ],
    "no-param-reassign": [
      1,
      {
        "props": true
      }
    ],
    "class-methods-use-this": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "react/prefer-stateless-function": 0
  },
  "globals": {
    "$": true,
    "_dibs_config": true,
    "models": true,
    "sequelize": true,
    "Sequelize": true,
    "apiSuccessWrapper": true,
    "apiFailureWrapper": true,
    "isAuthenticated": true,
    "isStudioAuthenticated": true,
    "isStudioAdmin": true,
    "isDibsAdmin": true,
    "goog_report_conversion": true,
    "fbq": true,
    "ga": true,
    "goog_snippet_vars_signup": true,
    "goog_snippet_vars_purchase": true,
    "_dibsUser": true,
    "_dibsLiveStudios": true,
    "optimizely": true
  },
  "plugins": [
    "import"
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}
